<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <title>{block name="title"}商城{/block}</title>

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/common/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common/css/font-awesome.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/common/js/layer/layer.js"></script>
    <script src="/static/common/js/bootstrap.min.js"></script>
    <script src="/static/common/js/check.js"></script>
</head>
<body>

{block name="main"}{/block}

{block name="my-js"}{/block}
</body>
</html>