{extend name="layout/layout"}

{block name="body"}
<link rel="stylesheet" href="/static/manage/css/myown.css">
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p>注册会员总数 ： </p>
                        <p style="text-align: center;font-size: 4rem;">{$userNum}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p>收益币总数 ： </p>
                        <p style="text-align: center;font-size: 4rem;">{$coinNum}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p>钱包总金额 ： </p>
                        <p style="text-align: center;font-size: 4rem;">{$moneyNum}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p>待提现金额 ： </p>
                        <p style="text-align: center;font-size: 4rem;">{$extractSum}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{/block}
