{extend name="base/base" /}

{block name="title"}购买收益币-{$siteName}{/block}

{block name="main"}
<link href="/static/index/css/custom-styles.css" rel="stylesheet" />

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        {include file="base/top"}
    </nav>
    <!--/. NAV TOP  -->
    {include file="base/left"}

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" class="col-sm-9 col-md-10 col-xs-12" style="float:right">
        <div id="page-inner">

            <!-- /. ROW  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            购买收益币
                        </div>
                        <div class="panel-body">
                            <!--面板内容 start-->
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" action="{:url('buy_action')}" onsubmit="return false;">
                                        <div class="form-group">
                                            <label>购买数量</label>
                                            <input class="form-control coin_num" name="num" value="1" />
                                            <p class='help-block'>每个收益币价值{$coinPrice},每次至少购买1个，必须为整数</p>
                                        </div>
                                        <button type="submit" class="btn btn-primary buyBtn" >确认购买</button>
                                    </form>
                                </div>
                            </div>
                            <!--面板内容 end-->
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                {include file="base/footer"}
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<script src="/static/index/js/jquery.metisMenu.js"></script>
<script src="/static/index/js/custom-scripts.js"></script>
{/block}

{block name="my-js"}
<script>
    $(function () {

        $('.buyBtn').click(function () {
            let coinNum = $('.coin_num').val();
            let errorNum = textChecked(coinNum);
            if(errorNum > 0){
                layer.msg('购买数量只能为数字',{time:1000});
                return false;
            }
            coinNum = parseInt(coinNum);

            layer.load(0, {
                shade: [0.1,'#fff']
            });
            $.ajax({
                url : '/index/finance/doCoinBuy',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    coin_num : coinNum
                },
                success : function(res){
                    layer.closeAll('loading');
                    let msg = '错误，请重试';
                    let callBack = '';
                    if(res.code == 0){
                        msg = res.msg;
                        callBack = function () {
                            location.href='/index/index';
                        };
                    }
                    layer.msg(msg,{time: 1500},callBack);
                },
                error : function(data){
                    console.log(data);
                }
            });
        });
    });
</script>
{/block}

