.white{
    color: #FFFFFF;
}

.red{
    color: #FB6E51;;
}

.bg-blue{
    background-color : #32CEE4;
}
.bg-green{
    background-color: #1CC09F;
}
.bg-red{
    background-color: #FB6E51;
}
.bg-brown{
    background-color: #F5B252;
}

.left-radius{
    border-radius : 20%;
}
.left-radius p{
    padding: .3rem .3rem
}