BODY {
	SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 9pt; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; OVERFLOW: auto; SCROLLBAR-SHADOW-COLOR: #cccccc; COLOR: black; SCROLLBAR-3DLIGHT-COLOR: #d9d9d9; SCROLLBAR-ARROW-COLOR: #808080; SCROLLBAR-TRACK-COLOR: #f8f8f8; FONT-FAMILY: Tahoma, Arial; SCROLLBAR-DARKSHADOW-COLOR: #808080
}
TD {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 130%; FONT-FAMILY: Tahoma, Arial
}
A:link {
	COLOR: #404040; TEXT-DECORATION: none
}
A:active {
	COLOR: #404040; TEXT-DECORATION: none
}
A:visited {
	COLOR: #404040; TEXT-DECORATION: none
}
A:hover {
	COLOR: #404040; TEXT-DECORATION: underline
}
.blockTitle {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; FILTER: Glow(Color=#07359A, Strength=2); COLOR: #ffffff; LINE-HEIGHT: 130%
}
.blockTitleBorder {
	BORDER-BOTTOM: #7e9fd8 1px solid; BACKGROUND-COLOR: #e4eaf6
}
.GGTitle {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; FILTER: Glow(Color=#ffffff, Strength=5); COLOR: #07359b; LINE-HEIGHT: 130%
}
.GGTableBorder {
	BORDER-RIGHT: #87a5db 1px solid; BORDER-TOP: #87a5db 1px solid; BORDER-LEFT: #87a5db 1px solid; WIDTH: 100%; BORDER-BOTTOM: #87a5db 2px solid; HEIGHT: 100%
}
.borderTd {
	BORDER-RIGHT: #87a5db 1px solid; BORDER-TOP: #87a5db 1px solid; BORDER-LEFT: #87a5db 1px solid; BORDER-BOTTOM: #87a5db 1px solid
}
.loginBorder {
	BORDER-TOP: #5c7ec3 1px solid; BORDER-BOTTOM: #5c7ec3 1px solid
}
.loginBorderB {
	BORDER-BOTTOM: #5c7ec3 1px solid
}
.NavBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 185px; CURSOR: default; COLOR: white; PADDING-TOP: 10px; BACKGROUND-COLOR: #7e9fd8
}
.TopItem {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(Images/NavBar/topItemPic.jpg); PADDING-BOTTOM: 4px; WIDTH: 185px; CURSOR: hand; COLOR: #215dc6; TEXT-INDENT: 10pt; LINE-HEIGHT: 150%; PADDING-TOP: 4px; FONT-FAMILY: tahoma, verdana; HEIGHT: 26px
}
.TopItemHover {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(Images/NavBar/topItemPic.jpg); PADDING-BOTTOM: 4px; WIDTH: 185px; CURSOR: hand; COLOR: #4273c8; TEXT-INDENT: 10pt; LINE-HEIGHT: 150%; PADDING-TOP: 4px; FONT-FAMILY: tahoma, verdana; HEIGHT: 26px
}
.Level2Item {
	PADDING-LEFT: 10px; FONT-SIZE: 11px; CURSOR: hand; COLOR: #07359b; FONT-FAMILY: tahoma, verdana; BACKGROUND-COLOR: #d6dff7
}
.Level2ItemHover {
	PADDING-LEFT: 10px; FONT-SIZE: 11px; CURSOR: hand; COLOR: #07359b; FONT-FAMILY: tahoma, verdana; BACKGROUND-COLOR: #d6dff7; TEXT-DECORATION: underline
}
.Level2Group {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f0f1f5 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: white 1px solid; WIDTH: 185px; COLOR: #a86700; LINE-HEIGHT: 150%; PADDING-TOP: 5px; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #d6dff7
}
.taskMenu {
	BORDER-RIGHT: #0c399d 1px solid; BORDER-TOP: #0c399d 1px solid; VERTICAL-ALIGN: top; WIDTH: 210px; BORDER-BOTTOM: #0c399d 1px solid; BACKGROUND-COLOR: #7e9fd8; TEXT-ALIGN: center
}
