<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>控制面板-{:MC('site_name')}</title>
        <!-- Bootstrap Styles-->
        <link href="__PUBLIC__/main/css/bootstrap.css" rel="stylesheet" />
        <link href="__PUBLIC__/main/css/font-awesome.css" rel="stylesheet" />
        <link href="__PUBLIC__/main/css/custom-styles.css" rel="stylesheet" />
    </head>

    <body>
        <div id="wrapper">

            <!--顶部导航-->
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <include file='Public:top' />
            </nav>
            <!--顶部导航-->


            <!--左侧导航-->
            <include file="Public:left" />
            <!--左侧导航-->



            <!--右侧内容外框 start-->
            <div id="page-wrapper" class="col-sm-9 col-md-10 col-xs-12" style="float:right">
                <div id="page-inner">

                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                {:MC("site_name")} <small>投资理财专家</small>
                            </h1>
                            <!--面包屑导航-->
                            <!--                            <ol class="breadcrumb">
                                                            <li><a href="#">Home</a></li>
                                                            <li><a href="#">Library</a></li>
                                                            <li class="active">Data</li>
                                                        </ol>-->
                        </div>
                    </div>


                    <!-- /. ROW  -->

                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-green green">
                                <div class="panel-left pull-left green">
                                    <i class="fa fa-eye fa-5x"></i>

                                </div>
                                <div class="panel-right">
                                    <h4>{$user_info.bi}个</h4>
                                    <strong>收益币</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br><a class="btn btn-primary btn-sm" href="{:U('finance/buy')}" role="button" style="margin-top: 5px;">购买</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-blue">
                                <div class="panel-left pull-left blue">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>

                                <div class="panel-right">
                                    <h4>{$user_info.money}</h4>
                                    <strong>钱包</strong>
                                    <br><a class="btn btn-primary btn-sm" href="{:U('finance/alipay')}" role="button" style="margin-top: 5px;">充值</a>
                                        <a class="btn btn-default btn-sm" href="{:U('finance/cashing')}" role="button" style="margin-top: 5px;">提现</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-red">
                                <div class="panel-left pull-left red">
                                    <i class="fa fa fa-comments fa-5x"></i>

                                </div>
                                <div class="panel-right">
                                    <h4>{$yesterday_income}</h4>
                                    <strong>昨日利息</strong>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-brown">
                                <div class="panel-left pull-left brown">
                                    <i class="fa fa-users fa-5x"></i>

                                </div>
                                <div class="panel-right">
                                    <h3></h3>
                                    <strong>
                                        <php>if($sign_status==0){</php>
                                        <a class="btn btn-primary" href="{:U('main/sign')}">签 到</a>
                                        <php>}else{</php>
                                        <button class='btn btn-default'>已签到</button>
                                        <php>}</php>
                                    </strong><br>
                                        <strong>每日签到赠送{:MC('sign_income')}元</strong>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    最近10笔收支记录
                                </div> 
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>时间</th>
                                                    <th>收入/支出</th>
                                                    <th>类别</th>
                                                    <th>金额</th>
                                                    <th>说明</th>
                                                    <th>之前</th>
                                                    <th>之后</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <foreach name='list' item='vo'>


                                                    <tr>
                                                        <td>{:get_date_full($vo['create_time'])}</td>
                                                        <td><php>if($vo['epoints']>=0) echo '<font color="red">收入</font>'; else echo '支出';</php></td>
                                                        <td>{:get_main_last_status($vo['action_type'])}</td>
                                                        <td>{$vo.epoints}</td>
                                                        <td>{$vo.text}</td>
                                                        <td>{$vo.original}</td>
                                                        <td>{$vo.after}</td>
                                                    </tr>
                                                </foreach>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /. ROW  -->


                    <footer>
                        <include file='Public:footer' />
                    </footer>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!--右侧内容外框 end-->
            <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->
        <!-- JS Scripts-->
        <script src="__PUBLIC__/main/js/jquery-1.10.2.js"></script>
        <script src="__PUBLIC__/main/js/bootstrap.min.js"></script>
        <!--<script src="__PUBLIC__/main/js/jquery.metisMenu.js"></script>-->
        <!--<script src="__PUBLIC__/main/js/custom-scripts.js"></script>-->
    </body>

</html>