	/* css 重置 */
* {
	margin:0;
	padding:0;
	list-style:none;
	font-family:"微软雅黑";
}

img {
	border:0;
}
hr{
    border:2px solid #FF0000;
}

p{
    color:#585858;
    font-size:24px;
    margin:20px 0;
}

.top a:hover {
	color:#FF0000;
}
.top a{
    margin:0 5px;
    text-decoration:underline;
    color:#00F;
}
.top{
    margin:30px auto 30px auto;
    width:80%;
    text-align:center;
}