{extend name="layout/layout"}

{block name="body"}
<body class="gray-bg">
<div class="row">
    <div class="col-sm-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="text-center p-lg">
                    <h2>新手指引</h2>
                    <h4>购买添金币矿工为你赚取添金币，最低10元就能参与的理财游戏，每个矿工10元，每天能为你赚取2元的添金币，每个矿工赚到16元后退休，系统自动回收添金币。</h4>
                </div>
            </div>

            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq7" class="faq-question">什么是静态收益和动态收益？</a>
                        <small><strong>金上添金</strong> <i class="fa fa-clock-o"></i> 今天</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq7" class="panel-collapse collapse faq-answer">
                            <p>
                                1.静态收益:不推广，购买矿工每日收益固定<br>
                                2.动态收益：推广，不固定提成。<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq1" class="faq-question">推广有什么奖励</a>
                        <small><strong>金上添金</strong> <i class="fa fa-clock-o"></i> 今天</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq1" class="panel-collapse collapse faq-answer">
                            <p>
                                1，直推：一代奖励6% 领导 ：二代奖励4%. 三代2%<br>
                                2，您的1级会员每天分红赚钱您有20%的提成.<br>
                                3，您的2级会员每天分红赚钱您有10%的提成.<br>
                                4，您的3级会员每天分红赚钱您有5%的提成.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq2" class="faq-question">充值和提现多久到账,需要手续费吗?</a>
                        <small><strong>金上添金</strong> <i class="fa fa-clock-o"></i> 今天</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq2" class="panel-collapse collapse faq-answer">
                            <p>
                                充值一般10分钟之内到账。<br>
                                提现一般第二天到账，提现手续费10%。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq3" class="faq-question">买了矿工之后多久才能获得收益？</a>
                        <small><strong>金上添金</strong> <i class="fa fa-clock-o"></i> 今天</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq3" class="panel-collapse collapse faq-answer">
                            <p>
                                当天就会结算收益，系统自动回收添金币，自动转钱包。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq4" class="faq-question">平台运行的原理是什么？</a>
                        <small><strong>金上添金</strong> <i class="fa fa-clock-o"></i> 今天</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq4" class="panel-collapse collapse faq-answer">
                            <p>
                                平台对接多家广告平台，不断接取任务，会有源源不断的收益。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="faq.html#faq5" class="faq-question">项目的优势在哪里？</a>
                        <small><strong>金上添金</strong> <i class="fa fa-clock-o"></i> 今天</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq5" class="panel-collapse collapse faq-answer">
                            <p>
                                回本快，盈利快，提现快，推荐提成高，项目长期稳定可靠。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="faq.html#faq6" class="faq-question">团队有奖励吗？</a>
                        <small><strong>金上添金</strong> <i class="fa fa-clock-o"></i> 今天</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="faq6" class="panel-collapse collapse faq-answer">
                            <p>
                                1，直推10人，团队300人晋升为主管，奖励1万。<br>
                                2，直推25人，团队500人晋升为经理，奖励5万。<br>
                                3，直推35人，团队1000人晋升为总监，奖励10万。<br>
                                4，直推50人，团队5000人，奖励50万。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{/block}

{block name="my-js"}

{/block}



