{extend name="layout/layout"}

{block name="body"}
<link rel="stylesheet" href="/static/manage/css/myown.css">
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>个人信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p>金丰年账号 ： {$userName}</p>
                        <ol>
                            <li>支付宝姓名： {$alipayName}</li>
                            <li>支付宝账号： {$alipayAccount}</li>
                            <li>注册时间： {$createdDate}</li>
                        </ol>
                    </div>
                    <div class="ibox-content">
                        <p>收货信息 ：</p>
                        <ol>
                            <li>收货人姓名： {$name}</li>
                            <li>收货人手机： {$phone}</li>
                            <li>收货地址：{$details}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>团队信息</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list">
                            <li title="团队所有成员人数">团队成员 ：{$teamAllNum}</li>
                            <li title="今日新增团队成员人数">今日新增成员 ：{$teamNewNum}</li>
                            <li title="今日参与抢购成员人数">今日活跃成员 ：{$teamActiveNum}</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>分红信息</h5>
                    </div>
                    <div class="ibox-content">
                        <ul class="list bg_color_orange_red">
                            <li>今日订单总量：{$orderTotal}</li>
                            <li>今日订单总额：{$moneyTotal}</li>
                            <li>上次分红： <span class="yesBonus">0</span></li>
                            <li>本月分红：<span class="monthBonus">0</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>收入统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="graph_flot.html#">近一年</a>
                                </li>
                                <li><a href="graph_flot.html#">近一月</a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="ibox-content" style="height: 30rem;">
                        <div class="echarts" id="incomeChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ECharts -->
    <script src="/static/manage/js/plugins/echarts/echarts.js"></script>

    <!-- ECharts demo data -->
    <script src="/static/manage/js/data/index_chart.js"></script>
</body>
{/block}
