{extend name="layout/layout"}

{block name="body"}
<link rel="stylesheet" href="/static/manage/css/myown.css">
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>收益币</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="pull-right white bg-green left-radius" >
                                    <i class="fa fa-eye fa-5x"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h4>{$coin}&nbsp;个</h4>
                                <a class="btn btn-success btn-sm" href="{:url('/index/finance/buy')}" role="button">购买</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>钱包</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="pull-right white bg-blue left-radius" >
                                    <i class="fa fa-credit-card fa-5x"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h4>{$money}&nbsp;元</h4>
                                <a class="btn btn-success btn-sm" href="{:url('/index/recharge/index')}" role="button">充值</a>
                                <a class="btn btn-warning btn-sm" href="{:url('/index/finance/cashing')}" role="button">提现</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>昨日利息</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="pull-right white bg-red left-radius" >
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h4>{$yesterdayIncome}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>签到</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="pull-right white bg-brown left-radius" >
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <strong>
                                    {if($signStatus)}
                                    <button class='btn btn-default'>已签到</button>
                                    {else /}
                                    <a class="btn btn-primary singBtn" href="javascript:;">签 到</a>
                                    {/if}
                                </strong>
                                <br>
                                <strong>每日签到赠送0.2元</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>收入统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="height: 30rem;">
                        <div class="echarts" id="incomeChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ECharts -->
    <script src="/static/manage/js/plugins/echarts/echarts.js"></script>

    <!-- ECharts demo data -->
    <script src="/static/manage/js/data/index_chart.js"></script>
</body>
{/block}

{block name="my-js"}
<script>
    $(function () {
        $('.singBtn').click(function () {
            //加载遮罩层
            layer.load(1, {
                shade: [0.5,'#fff']
            });

            $.ajax({
                url : '/index/index/sign',
                type : "GET",
                dataType : "json",
                cache : false,
                success : function(res){
                    var callingBack = '';
                    layer.closeAll('loading');
                    if(res.code == 0){
                        callingBack = function () {
                            window.location.reload();
                        };
                    }
                    layer.msg(res.msg,{time: 1000},callingBack);
                },
                error : function(data){
                    layer.closeAll('loading');
                    console.log(data);
                }
            });
        });
    });
</script>
{/block}
