<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>会员注册-{:MC('site_name')}</title>
        <meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE" />

        <link href="__PUBLIC__/css/master.css" rel="stylesheet" media="screen" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min11.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/common11.js"></script>


        <script type="text/javascript" src="__PUBLIC__/js/Base.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/prototype.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/mootools.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/Ajax/ThinkAjax.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/Form/CheckForm.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/myfocus-1.0.4.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/all.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/Util/ImageLoader.js"></script>

        <style type="text/css">
            body{
                background:url(__PUBLIC__/images/reg.jpg) center center no-repeat fixed;
                background-size:cover;
            }


            #among .member #formStyle ul li.tn{
                width:180px;
            }
            #among .member #formStyle ul li.checkbox,
            #among .member #formStyle ul li.button{
                margin-left:189px;
            }
        </style>

    </head>

    <body id="member">
        <div id="wrapper">
<!--            <ul id="header">
                <li class="logo" style="margin-top:0px;margin-left:-10px;"><a href="{:U('/')}">
                        <img src="__PUBLIC__/images/logo1.png" style="height: 280px;" />
                    </a></li>
            </ul>-->

            <form method='post' id="form1" name="form1" action="{:U('index/reg_action')}"/>
            <div id="among">
                <div class="member">
                    <div class="tn">新用户注册</div>
                    <div class="bg_line"></div>
                    <div id="formStyle" style="margin-top:30px">
                        <ul>
                            <li class="tn"><span>*</span>推荐人用户名：</li>
                            <li class="input"><input name="tj_name" id="RID" type="text" value="{$user_name}" class="ipt"/></li>
                            <li class="Prompt" style="width:298px">不要去修改否则会报错</li>


                            <li class="clear"></li>
                        </ul>
                        <ul>
                            <li class="tn"><span>*</span>推荐人电话：</li>
                            <li class="input"><input name="tj_mobile" type="text" class="ipt"  id="tuihao" value="{$mobile}"/></li>
                            <li class="Prompt" style="width:298px">不要去修改或者不用管</li>
                            <li class="clear"></li>
                        </ul>
                        <ul>
                            <li class="tn"><span>*</span>用户名：</li>
                            <li class="input">  <input name="user_name" id="UserID" type="text"  value="" class="ipt" /></li>
                            <li class="Prompt" style="width:298px">推荐使用用手机号码例如18018181818</li>
                            <li class="clear"></li>
                        </ul>

                        <ul>
                            <li class="tn"><span>*</span>手机号：</li>
                            <li class="input"><input name="mobile" type="text" class="ipt"  id="UserTel" value=""/></li>
                            <li class="Prompt" style="width:298px">填写手机号码，手机号码是您身份的唯一凭证</li>
                            <li class="clear"></li>
                        </ul>

                        <ul>
                            <li class="tn"><span>*</span>登录密码：</li>
                            <li class="input"><input name="user_pwd" type="password" class="ipt"  id="Password"  value=""/></li>
                            <li class="clear"></li>
                        </ul>
                        <ul>
                            <li class="tn"><span>*</span>确认密码：</li>
                            <li class="input"><input name="user_pwd_1" type="password" class="ipt"  id="rePassword"  value=""/></li>
                            <li class="clear"></li>
                        </ul>
                        <ul>
                            <li class="tn"><span>*</span>二级密码：</li>
                            <li class="input"><input name="user_pwd1" type="password" class="ipt"  id="PassOpen"  value=""/></li>
                            <li class="clear"></li>
                        </ul>
                        <ul>
                            <li class="tn"><span>*</span>确认密码：</li>
                            <li class="input"><input name="user_pwd1_1" type="password" class="ipt"  id="rePassOpen"  value=""/></li>
                            <li class="clear"></li>
                        </ul>

                        <ul>
                            <li class="checkbox"><input type="checkbox" checked="checked">我已阅读并同意<a>《用户注册协议》</a>&nbsp;</li>
                            <li class="clear"></li>
                        </ul>
                        <ul>
                            <li class="button"><input type="submit" value="立刻注册" /></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div>
            </div>
            </form>
            <div id="footer">
                <include file='Public:footer' />
            </div>
        </div>

    </body></html>