<ul id="main-nav">
    <li>
        <a href="###" class="nav-top-item">系统管理</a>
        <ul>
            <li><a href="{:U('admin/index')}" target="main">用户管理</a></li>
            <li><a href="{:U('config/index')}" target="main">站点配置</a></li>
            <li><a href="{:U('main/day_execute')}" target="main">每日收益执行</a></li>
        </ul>
    </li>
    <li>
        <a href="###" class="nav-top-item">文章管理</a>
        <ul>
            <li><a href="{:U('article/index')}" target="main">文章管理</a></li>
        </ul>
    </li>
    <li>
        <a href="###" class="nav-top-item">功能管理</a>
        <ul>
            <li><a href="{:U('users/index')}" target="main">会员管理</a></li>
            <li><a href="{:U('zhifubao_chongzhi/index')}" target="main">充值管理</a></li>
            <li><a href="{:U('tixian_apply/index')}" target="main">提现管理</a></li>
            <li><a href="{:U('jibie_apply/index')}" target="main">晋级管理</a></li>
            <li><a href="{:U('recharge/money')}" target="main">钱包充值</a></li>
            <li><a href="{:U('recharge/bi')}" target="main">收益币充值</a></li>
        </ul>
    </li>
    <li>
        <a href="###" class="nav-top-item">缓存管理</a>
        <ul>
            <li><a href="{:U('cache/index')}" target="main">缓存管理</a></li>
        </ul>
    </li>

</ul>