{extend name="layout/layout"}
{block name="title"}登录-金上添金{/block}

{block name="body"}
<link rel="stylesheet" href="/static/manage/css/login.css">
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>[ 金+ ]</h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>金上添金 管理后台</strong></h4>

                <strong>还没有账号？ <a href="javascript:;">立即注册&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" action="" onsubmit="return false">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到[ 金+ ] 管理后台</p>
                <input type="text" class="form-control uname" placeholder="用户名" />
                <input type="password" class="form-control pword m-b" placeholder="密码" />
                <button class="btn btn-success btn-block login_btn">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2017 All Rights Reserved. 金+
        </div>
    </div>
</div>
</body>
{/block}

{block name="my-js"}
<script>
    $(function () {
        $('.login_btn').click(function () {
            var user_name = $('.uname').val();
            var user_pwd = $('.pword').val();
            if(user_name == ''){
                layer.msg('请填写用户名',{time: 1000});
                return false;
            }
            if(user_pwd == ''){
                layer.msg('请填写密码',{time: 1000});
                return false;
            }
            $.ajax({
                url : '/manage/login/doLogin',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    username : user_name,
                    userpwd : user_pwd
                },
                success : function(data){
                    var callBack = '';
                    if(data.code == 0){
                        callBack = function(){
                            location.href='/manage/index';
                        };
                    }
                    layer.msg(data.msg,{time: 1000},callBack);
                },
                error : function(data){
                    console.log(data);
                }
            });
            return false;
        });
    });
</script>
{/block}
