{extend name="layout/layout"}
{block name="title"}登录{/block}
{block name="body"}
<body class="gray-bg">

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">金+</h1>
        </div>
        <h3>欢迎注册 金上添金</h3>
        <p>创建一个金+新账户</p>
        <form class="m-t" role="form" action="" onsubmit="return false;">
            <div class="form-group">
                <input type="hidden"  value="{$pId}" class="parent_id">
                <p class="form-control">推荐人: {$pName}</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control user_name" placeholder="请输入用户名" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control phone" placeholder="请输入手机号" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control password" placeholder="请输入登录密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control re_password" placeholder="请再次输入登录密码" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control second_pwd" placeholder="请输入二级密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control re_second_pwd" placeholder="请再次输入二级密码">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b submit_btn">注 册</button>

            <p class="text-muted text-center"><small>已经有账户了？</small><a href="/login">点此登录</a>
            </p>

        </form>
    </div>
</div>

</body>
{/block}
{block name="my-js"}
<script>
    $(function () {
        $('.user_name').focus(function () {
            layer.tips('推荐使用手机号码', '.user_name');
        });
        $('.phone').focus(function () {
            layer.tips('手机号码是您身份的唯一凭证', '.phone');
        });
        $(".user_name").keydown(function(){
            this.value = this.value.replace(/[^A-Za-z0-9]/i,'');
        });

        $('.submit_btn').click(function () {
            let user_name = $('.user_name').val();
            let user_pwd = $('.password').val();
            let re_user_pwd = $('.re_password').val();
            let secondPwd = $('.second_pwd').val();
            let reSecondPwd = $('.re_second_pwd').val();
            let parent_id = $('.parent_id').val();
            let phone = $('.phone').val();
            let pattern = /^1[34578]\d{9}$/;
            if(!pattern.test(phone)){
                layer.msg('请填写正确的手机号',{time:1000});
                return false;
            }

            if(user_name == ''){
                layer.msg('帐号不能为空',{time:1000});
                return false;
            }
            if(user_name.length < 8){
                layer.msg('帐号不能少于8位',{time:1000});
                return false;
            }
            if(user_pwd == ''){
                layer.msg('密码不能为空',{time:1000});
                return false;
            }
            if(secondPwd == ''){
                layer.msg('二级密码不能为空',{time:1000});
                return false;
            }
            if(user_pwd != re_user_pwd){
                layer.msg('两次密码输入不一致',{time:1000});
                return false;
            }
            if(secondPwd != reSecondPwd){
                layer.msg('两次二级密码输入不一致',{time:1000});
                return false;
            }

            $.ajax({
                url : '/service/register/index',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    username : user_name,
                    userpwd : user_pwd,
                    secondPwd : secondPwd,
                    phone : phone,
                    parent_id: parent_id
                },
                success : function(data){
                    var callingBack = '';
                    if(data.code == 0){
                        callingBack = function(){
                            location.href='/login';
                        };
                    }
                    layer.msg(data.msg,{time: 1000},callingBack);
                },
                error : function(data){
                    console.log(data);
                }
            });
        });
    });
</script>
{/block}
