{extend name="layout/layout"}

{block name="body"}

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>平台总收入统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user choseDate">
                                <li data-val="12"><a href="#">近一年</a></li>
                                <li data-val="6"><a href="#">近半年</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ibox-content" style="height: 30rem;">
                        <div class="echarts" id="incomeChartAll"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ECharts -->
    <script src="/static/manage/js/plugins/echarts/echarts.js"></script>

    <!-- ECharts demo data -->
    <script src="/static/manage/js/data/all_chart.js"></script>
</body>
{/block}
