{extend name="layout/layout"}
{block name="title"}充值记录{/block}
{block name="body"}
<link rel="stylesheet" href="/static/manage/css/recharge.css">
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>支付宝/微信充值</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tab-content dashboard-content" id="recharge">

                                <div class="row">
                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                        <label for="recharge_money">充值金额 <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="recharge_money" placeholder="最低充值{$coinPrice}元">
                                        <input type="hidden" class="form-control" id="min_money" value="{$coinPrice}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-12 col-sm-12 col-md-12">
                                        <label>充值方式 <span class="text-danger">*</span></label>
                                    </div>
                                </div>
                                <div class="row rechargeWay">
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <span data-val="1"><img src="/static/manage/images/zhifubao.png" alt="">支付宝</span>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <span data-val="0"><img src="/static/manage/images/weixin.png" alt="">微信</span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-lg pull-right rechargeBtn">充值</button>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>最近10笔充值记录</h4>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <input type="hidden" class="data" value="{$list}">
                            <table id="rechargeHistory"  data-mobile-responsive="true"  data-pagination="true" data-page-list=[10]>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rechargeModal">
    <div id="rechargeImg" style="text-align: center;width: 100%"></div>
    <p class="text-muted">付款成功后10分钟内到账，请刷新查看余额。</p>
</div>

<script src="/static/common/js/jquery-qrcode/jquery.qrcode.min.js"></script>
</body>
{/block}
{block name="my-js"}
<script>
    $(function () {
        var btt_data = $('.data').val();
        btt_data = JSON.parse(btt_data);
        $('#rechargeHistory').bootstrapTable({
            data: btt_data,
            columns: [{
                field:"order_no",
                title:"流水号"
            }, {
                field:"amount",
                title:"金额"
            }, {
                field:"status",
                title:"状态",
                formatter: function (value) {
                    if (value == 1) {
                        return '充值成功';
                    } else {
                        return "充值中";
                    }
                }
            }, {
                field:"created_date",
                title:"提交时间"
            }, {
                field:"updated_date",
                title:"到账时间"
            }]
        });

        $('.rechargeWay div').click(function () {
            $(this).addClass('active').siblings('div').removeClass('active');
        });

        //充值
        $('.rechargeBtn').click(function () {
            let recharge_money = $('#recharge_money').val();
            let min_money = $('#min_money').val();
            if(recharge_money == ''){
                layer.msg('充值金额不能为空',{time:1000});
                return false;
            }
            let errorNum = textChecked(recharge_money);
            if(errorNum > 0){
                layer.msg('充值金额只能为数字',{time:1000});
                return false;
            }
            recharge_money = parseInt(recharge_money);
            min_money = parseInt(min_money);
            if(recharge_money < min_money){
                layer.msg('最少充值'+min_money+'元',{time:1000});
                return false;
            }

            let recharge_way = $('.rechargeWay div.active').children('span').data('val');
            if(recharge_way == undefined){
                layer.msg('请选择充值方式',{time:1000});
                return false;
            }

            layer.load(0, {
                shade: [0.1,'#fff']
            });
            $.ajax({
                url : '/index/recharge/createRecharge',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    recharge_money : recharge_money,
                    recharge_way : recharge_way
                },
                success : function(res){
                    layer.closeAll('loading');
                    if(res.code == 0){
                        //判断是不是web 网站访问
                        let isWeb = checkAgents();
                        if(isWeb){
                            $('#rechargeImg').html('');
                            $('#rechargeImg').qrcode({
                                width: 190,
                                height:190,
                                text:res.data.url
                            });
                            let title = '';
                            if(res.data.way){
                                title = '打开支付宝扫一扫';
                            }else{
                                title = '打开微信扫一扫';
                            }
                            layer.open({
                                type: 1,
                                title:title,
                                area: ['40rem', '31rem'], //宽高
                                content: $('.rechargeModal')
                            });
                        }else{
                            let activeA = $('<a href="'+res.data.url+'"></a>');
                            activeA[0].click();
                        }
                    }else{
                        layer.msg(res.msg,{time: 1500});
                    }
                },
                error : function(data){
                    console.log(data);
                }
            });
        });
    });
</script>
{/block}
