<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <title>{block name="title"}商城{/block}</title>

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/index/login/css/style.css">

</head>
<body>

{block name="main"}{/block}

<!--<script>
    layui.use('layer', function(){
        var layer = layui.layer;
    });
</script>-->
{block name="my-js"}{/block}
</body>
</html>