{extend name="layout/layout"}
{block name="title"}成员列表{/block}
{block name="body"}
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>会员列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="example-wrap">
                            <div class="example">
                                <table id="usersTbl"  data-mobile-responsive="true"  data-pagination="true" data-page-list=[10]>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
    <script src="/static/manage/js/common.js"></script>

    <div class="wrapper wrapper-content recordContent" style="display: none">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="example-wrap">
                            <div class="example">
                                <table id="recordTbl"  data-mobile-responsive="true"  data-pagination="true" data-page-list=[10]>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    </div>
</body>
{/block}
{block name="my-js"}
<script>
    $(function () {
        $.ajax({
            url: '/manage/user/userDetails',
            type: 'POST',
            dataType: 'json',
            cache: false,
            success: function (res) {
                if (res.code == 0) {
                    var btt_data = res.data;

                    $('#usersTbl').bootstrapTable({
                        data: btt_data,
                        columns: [{
                            field: "id",
                            title: "用户ID"
                        }, {
                            field: "user_name",
                            title: "用户帐号"
                        }, {
                            field: "mobile",
                            title: "绑定手机"
                        }, {
                            field: "title",
                            title: "当前级别"
                        },{
                            field: "money",
                            title: "余额"
                        },{
                            field: "worker",
                            title: "矿工"
                        }, {
                            field: "login_count",
                            title: "登录次数"
                        }, {
                            field: "create_time",
                            title: "创建时间"
                        }, {
                            field: 'operate',
                            title: '操作',
                            align: 'center',
                            formatter: operateFormatter,
                            events: operateEvents
                        }]
                    });
                } else {
                    layer.msg(res.msg, {time: 1500});
                }
            },
            error: function () {
                console.log(res);
            }
        });

        var operateFormatter = function() {
            return [
                '<a href="#" class="levelLog btn btn-xs btn-info btn-sm" style="margin-right:10px;">晋级记录</a>',
                '<a href="#" class="extractLog btn btn-xs btn-info btn-sm" style="margin-right:10px;">提现记录</a>',
                '<a href="#" class="rechargeLog btn btn-xs btn-info btn-sm" style="margin-right:10px;">充值记录</a>',
            ].join('');
        };
        window.operateEvents = {
            'click .levelLog': function (e, value, row) {
                recordAlert(1,row.id);
            },
            'click .extractLog': function (e, value, row) {
                recordAlert(2,row.id);
            },
            'click .rechargeLog': function (e, value, row) {
                recordAlert(3,row.id);
            }
        };

        var recordAlert = function (index,id) {
            let url = '';
            switch (index) {
                case 1:
                    url = '/manage/level/record';
                    break;
                case 2:
                    url = '/manage/extract/record';
                    break;
                case 3:
                    url = '/manage/recharge/record';
                    break;
            }
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data:{
                    uid : id
                },
                cache: false,
                success: function (res) {
                    if (res.code == 0) {
                        $("#recordTbl").bootstrapTable('destroy');
                        let btt_data = res.data;

                        let colunmn = [];
                        let showTitle = '';
                        switch (index) {
                            case 1:
                                showTitle = '晋级记录';
                                colunmn = [{
                                    field: "id",
                                    title: "用户ID"
                                }, {
                                    field: "title",
                                    title: "申请级别"
                                }, {
                                    field: "status",
                                    title: "状态"
                                }, {
                                    field: "action_status",
                                    title: "奖励"
                                }, {
                                    field: "create_time",
                                    title: "创建时间"
                                }];
                                break;
                            case 2:
                                showTitle = '提现记录';
                                url = '/manage/extract/record';
                                colunmn = [{
                                    field: "uid",
                                    title: "用户ID"
                                }, {
                                    field: "epoints",
                                    title: "提现金额"
                                }, {
                                    field: "status",
                                    title: "状态"
                                }, {
                                    field: "create_time",
                                    title: "创建时间"
                                }];
                                break;
                            case 3:
                                showTitle = '充值记录';
                                url = '/manage/recharge/record';
                                colunmn = [{
                                    field: "uid",
                                    title: "用户ID"
                                }, {
                                    field: "amount",
                                    title: "充值金额"
                                }, {
                                    field: "way",
                                    title: "渠道"
                                }, {
                                    field: "status",
                                    title: "状态"
                                }, {
                                    field: "created_date",
                                    title: "创建时间"
                                }];
                                break;
                        }

                        $('#recordTbl').bootstrapTable({
                            data: btt_data,
                            columns: colunmn
                        });
                        layer.open({
                            type: 1,
                            title: showTitle,
                            area: ['70%', '60%'], //宽高
                            content: $('.recordContent')
                        });
                    } else {
                        layer.msg(res.msg, {time: 1500});
                    }
                },
                error: function () {
                    console.log(res);
                }
            });
        };
    });
</script>
{/block}
